@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sofia,
    Bulgaria
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:nangelov1990@gmail.com">nangelov1990@gmail.com</a>
</address>