@model IEnumerable<CarDealer.Models.ViewModels.Suppliers.AddPartSupplierVm>

@{
    ViewBag.Title = "Add Part";
}

<h2>Add</h2>
<h4>Part</h4>

<hr />

<div class="form-horizontal">
    <form method="POST">
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-2" for="name">Name: </label>
                <input id="name" type="text" name="name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-2" for="price">Price: </label>
                <input id="price" type="number" name="price" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-2" for="quantity">Quantity: </label>
                <input id="quantity" type="number" name="quantity" class="form-control" min="1" pattern="\d*" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-2" for="supplierId">Supplier: </label>
                @Html.DropDownList("supplierId", Model.Select(s => new SelectListItem
                {
                    Value = s.Id.ToString(),
                    Text = s.Name
                }), new { id = "supplierId", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
