@model CarDealer.Models.ViewModels.Parts.DeletePartVm

@{
    ViewBag.Title = "Delete Part";
}

<h2>Delete</h2>
<h4>Part</h4>

<hr />

<div class="form-horizontal">
    <form method="POST">
        <input id="id" type="text" name="id" value="@Model.Id" hidden="hidden" />
        <div class="form-group">
            <div class="col-md-10">
                <label for="name" class="control-label col-md-2">Name: </label>
                <input id="name" type="text" class="form-control" name="name" value="@Model.Name" readonly="readonly"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label col-md-2" for="price">Price: </label>
                <input id="price" type="number" name="price" value="@Model.Price" class="form-control" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>