@model IEnumerable<CarDealer.Models.ViewModels.Suppliers.AllSuppliersVm>

@{
    ViewBag.Title = "All Suppliers";
}

<h2>@TempData["Supplier Type"]</h2>

<h4>Suppliers</h4>

<a class="btn btn-primary" href="/suppliers/add/">Add</a>
<br>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Number Of Parts To Supply</th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>@item.Name</td>
        <td>@item.NumberOfPartsToSupply</td>
        <th>
            <a href="/suppliers/edit/@item.Id/">Edit</a>
            <a href="/suppliers/delete/@item.Id/">Delete</a>
        </th>
    </tr>
}

</table>
