@using RazorEngineHw.Helpers
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@Html.Image(
    "https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/18056937_10213283636351733_1618443749893891996_n.jpg?oh=a0ec4071f87126692ae43524d8be2394&oe=598B3798",
    "Monte-Carlo",
    "960px",
    "640px")