@using RazorEngineHw.Helpers
@model IEnumerable<RazorEngineHw.Models.Person>

@{
    ViewBag.Title = "View Users";
}

<h2>Users</h2>

@Html.Table((IEnumerable<RazorEngineHw.Models.Person>)Model, "table", "table-striped", "table-bordered")

@Html.Youtube("TYm3lllz7aI");