@using (Html.BeginForm("NextStep", "Requests", new { area = "Employee" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    <div class="center-block">
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Next Step" />
        </div>
    </div>
}