@model CarDealer.Models.ViewModels.CmrVm

@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h2>@Model.Name</h2>

<p>Number of Bought Cars - @Model.BoughtCarsCount</p>

<p>Total Money Spent - @Model.TotalMoneySpent</p>