@model IEnumerable<CarDealer.Models.ViewModels.Customers.AllCmrVm>

@{
    ViewBag.Title = "All Customers";
}

<h2>All</h2>

<h4>Customers</h4>

<a class="btn btn-primary" href="/customers/add">Add Customer</a>
<br>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>BirthDate</th>
        <th>IsYoungDriver</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.BirthDate</td>
            <td>@item.IsYoungDriver</td>
            <td><a href="/customers/edit/@item.Id">Edit</a></td>
        </tr>
    }
</table>
