@model IEnumerable<CarDealer.Models.ViewModels.AllCmrVm>

@{
    ViewBag.Title = "All";
}

<h2>All</h2>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>BirthDate</th>
        <th>IsYoungDriver</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.BirthDate</td>
            <td>@item.IsYoungDriver</td>
        </tr>
    }
</table>
